.container {
  padding: 20px;
  background-color: #f5f7fa;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.header {
  background-color: #00bcd4;
  color: white;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(112, 111, 111, 0.5);
  flex-wrap: wrap;
}

.button-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.history-button {
  background: none;
  border: 1px dotted white;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  transition: background-color 0.2s ease;
}

.history-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.table-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 40px;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.table-container > div:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.status {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  text-transform: capitalize;
}

.status::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}

.status.success::before {
  background-color: green;
}

.status.fail::before {
  background-color: red;
}

.status.running::before {
  background-color: gray;
}

.pagination {
  width: 100%;
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.total-job {
  font-weight: 600;
}

.button-open-modal {
  width: 100px;
  height: 30px;
  font-size: 12px;
  background-color: #2e2e2e;
  color: #fff;
  border: none;
  font-weight: 400;
  border-radius: 20px;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.button-open-modal:hover {
  background-color: #333;
  transform: scale(1.05);
}

.button-open-modal:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
